<header id="header" class="navbar-static-top">
    <div class="topnav">
        <div class="container">
            <ul class="quick-menu pull-right">
                <li><a href="/Flights/Index" class="button yellow "><i class="soap-icon-grid"></i> Acceuil</a></li>
            </ul>

            <ul class="quick-menu pull-left">
                <li><a href="/Home/Login" class="button yellow "><i class="soap-icon-user"></i> Se conencter</a></li>
                <li><a href="/Home/Register"><i class="soap-icon-friends"></i> S'enregistrer</a></li>
            </ul>
        </div>
    </div>
</header>