@model LoginViewModel
@{
    Layout = "Shared/_LayoutLogin";
}

<div class="wrap-login100 p-t-50 p-b-90">
    <form method="post" class="login100-form">
        <span class="login100-form-title p-b-51">
            <img src="~/images/logo.png" width="250" alt="">
        </span>

        <div asp-validation-summary="All"></div>

        <span asp-validation-for="Email" class="small text-danger"></span>
        <div class="wrap-input100 m-b-16">
            <input type="text" class="input100" id="Email" asp-for="Email" placeholder="Entrez votre email">
        </div>

        <span asp-validation-for="Password" class="small text-danger"></span>
        <div class="wrap-input100 m-b-16">
            <input type="password" class="input100" id="Password" asp-for="Password" placeholder="Entrez votre password">
        </div>

        <div class="flex-sb-m w-full p-t-3 p-b-24">
            <div class="contact100-form-checkbox">
                <input class="input-checkbox100" asp-for="Remember" id="ckb1" type="checkbox">
                <label class="label-checkbox100" for="ckb1">
                    Se souvenir de moi
                </label>
            </div>
        </div>

        <div class="container-login100-form-btn m-t-17">
            <button type="submit" class="login100-form-btn">
                Se connecter
            </button>
        </div>
    </form>
</div>