@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Artza | Erreur 404</title>
        <link href="~/css/error.css" rel="stylesheet" />
    </head>
    <body>
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <div></div>
                    <h1>404</h1>
                </div>
                <h2>Page introuvable</h2>
                <p>La resource que vous recherchez a peut-être été supprimée ou est temporairement indisponible.</p>
                <a href="#" onclick="history.back()">Page précédente</a>
            </div>
        </div>
    </body>
</html>
