<footer id="footer">
    <div class="bottom gray-area">
        <div class="container">
            <div class="logo pull-left">
                <a href="index-2.html" title="Travelo - home">
                    <img asp-append-version="true" src="~/images/logo.png" alt="" />
                </a>
            </div>
            <div class="pull-right">
                <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
            </div>
            <div class="copyright pull-right">
                <p>&copy; 2021 <b>Artza Technology</b></p>
            </div>
        </div>
    </div>
</footer>